{% extends 'base.html' %}

{% block title %} {{movie.title}} {% endblock %}

{% block head %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<h2>MOVIE DETAILS HERE</h2>
<div class="media-details">
    <h2 id="movie-title">{{movie.title}}</h2>
    <p id="movie-year">{{movie.year}}</p>
    <p id="movie-overview">{{movie.overview}}</p>
    <img src="{{movie.poster_path}}" id="movie-poster-path">
    <!-- <p id="movie-id">{{movie.movie_id}}</p> -->
</div>

<div class="comment-area">
    <!-- Button trigger modal -->
    <label for="comment-movie-btn">Have you already watched it?</label>
    {%if 'user_email' in session %}
    <button type="button" class="btn btn-primary" id="comment-movie-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Drop your comment here
    </button>
    {% else %}
    <form action="/login">
        <button type="submit">Log In to comment</button>
    </form>
    {%endif%}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Review {{movie.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <form action="/movie/details/{{movie.movie_id}}/comment" , method="POST" id="comment-form"> -->
                    <form id="comment-form">
                        <label for="rate-movie">Rate ({{movie.title}}):</label>
                        <select name="rate-movie" id="rate-movie">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="comment-movie">Leave a comment:</label>
                        <input type="text" id="comment-movie" name="comment-movie">
                        <button type="submit" class="btn btn-primary" id="submit-comment-btn">Submit Comment</button>
                        <!-- <input type="submit" value="Submit Comment and Review"> -->
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit Comment</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div id="movie-details-div"></div>
<script src="/static/js/movie-details.js"> </script>

{% endblock %}