{% extends 'base.html' %}

{% block title %} Your profile {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<h2>Hi, {{user.full_name}}!</h2>

<h3>Activity</h3>
<ul>
    {% for item in user.comments %}
    {% if item.comment|length > 0 %}
    <li>
        <!-- <img src="{{item.media.poster_path}}"> for some reason its BLANK -->
        <p><a href="/movies/details/{{item.media.imdb_id}}">{{item.media.title}}</a></p>
        <p>{{item.review}}</p>
        <p>{{item.comment}}</p>
    </li>
    {%endif%}
    {%endfor%}
</ul>

<h3>Saved for later</h3>

{%endblock%}