{% extends 'base.html' %}

{% block title %} Your profile {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<h2>Hi, {{user.full_name}}!</h2>

<h3>Activity</h3>
<ul>
    {% for item in user.comments %}
    {% if item.comment|length > 0 %}
    <li>
        {%if item.media.imdb_id[0] == 't' %}
        <p><a href="/media/details/{{item.media.imdb_id}}">{{item.media.title}}</a></p>
        {%elif item.media.media_type == 'series'%}
        <p><a href="/media/popular/shows/details/{{item.media.imdb_id}}">{{item.media.title}}</a></p>
        {%else%}
        <p><a href="/media/popular/movies/details/{{item.media.imdb_id}}">{{item.media.title}}</a></p>
        {%endif%}
        <img src="{{item.media.poster_path}}">
        <p>{{item.review}}</p>
        <p>{{item.comment}}</p>
        <p hidden>{{item.media.imdb_id}}</p>
    </li>
    {%endif%}
    {%endfor%}
</ul>

<h3>Saved for later</h3>

{%endblock%}