{% extends 'base.html' %}

{% block title %} Sign in here {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<section>
    <form action="/signin" method="POST">

        <p>Full name <input type="text" name="full_name" required></p>
        <p>Email <input type="text" name="email" required></p>
        <p>Password <input type="password" name="password" required></p>
        <p>Confirm Password <input type="password" name="confirm-password" required></p>
        <p><input type="submit" value="Sign In"></p>
    </form>
</section>

{% endblock %}